@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --table-border: #e5e7eb;

  .ant-typography {
    display: block;
  }
  .leaflet-control,
  .leaflet-pane,
  .leaflet-top,
  .leaflet-bottom {
    z-index: 0;
  }
  .ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-label,
  .ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-content {
    padding: 8px 16px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.tox .tox-promotion {
  display: none !important;
}

table td {
  padding: 2px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--table-border);
}

ul {
  padding-inline-start: 0;
}

.leaflet-container {
  background: var(--background) !important;
  outline: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.ant-space .ant-form-item {
  margin-bottom: 0 !important;
}