@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --table-border: #e5e7eb;

  .ant-typography {
    display: block;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.tox .tox-promotion {
  display: none !important;
}

table td {
  padding: 2px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--table-border);
}

ul {
  padding-inline-start: 0;
}
