GEONODE_BASE_URL="https://geonode.akvotest.org"
GEONODE_ADMIN_USERNAME="youradminusernameoremail"
GEONODE_ADMIN_PASSWORD="youradminpassword"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="your-email@example.com"
EMAIL_HOST_PASSWORD="your-email-password"
EMAIL_FROM="noreply@example.com"
WEBDOMAIN=http://localhost:3000
SESSION_SECRET=secret
SECRET_KEY=secret
RUNDECK_API_URL="http://localhost:4440/api/49"
RUNDECK_API_TOKEN=secret
CSRF_TRUSTED_ORIGINS="http://localhost:3000"