RUNDECK_GRAILS_URL="<your_app_url>/rundeck"
RUNDECK_MAIL_SMTP_HOST=<your_smtp_host>
RUNDECK_MAIL_SMTP_PORT=<your_smtp_port>
RUNDECK_MAIL_SMTP_USERNAME=<your_smtp_user>
RUNDECK_MAIL_SMTP_PASSWORD=<your_smtp_password>
RUNDECK_MAIL_FROM=<<your_smtp_mail_from>>